<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="app.component.ts"></script>
</head>
<body>
    <p>Welcome to app!</p>
    <h2>Parent Component</h2>
    <p>Name of the Actor is <script>display()</script></p>
    
</body>
</html>



<!-- https://angular.io/guide/what-is-angular -->
<!-- file://pune-share/Training_Cyb/Vinita/FrTP-Jan'22/1.TrainingContent/FET%20Booklet.pdf -->
<!-- page no 45 -->
<!-- https://appdividend.com/2019/02/09/how-to-display-data-in-angular-7-display-data/ -->